*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/bg.svg");
    display: flex;
    flex-direction: column;
}
html, body{
    height: 100%;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
}

header, footer {
    margin: 0 2.3em;
}
.header img{
    margin-left: 20px;
}
.header{
    display: flex;
    border-bottom: 2px solid #777777;
    padding-bottom: 20px;
}
.container{
    flex-grow: 1;
}
.header h4{
    margin: 20px 0 0 15px;
    width: 300px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}
hr {
    border: none;
    background-color: #777777;
    color: #777777;
    height: 2px;
}
main {

    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 120px;
}

footer {
    height: 80px;
    margin-left: 2.3em;
    margin-right: 2.3em;
    line-height: 30px;
}

.footer_block {
    margin-top: 7px;
}
.footer_block p{
    font-size: 12px;
    text-align: center;
}
.border {
    border-radius: 10px;
    box-shadow: 0 0 10px #27272780;
}
.login-form input{
    margin: 0 auto;
}
.login-form,
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"]{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 15px;
    padding-right: 40px;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    background: #f9f6f3 no-repeat 270px 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    width: 240px;
    border: 2px solid #007bff80;
    border-radius: 5px;
}
.login-form input[type="submit"] {
    background:#007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top:15px;
    padding:12px;
    width: 250px;
}
.login-form input[type="checkbox"]{
    vertical-align: middle;
    margin-right: 5px;
}
.login-form a{
    margin-left: 50px;
}
.login-form {
    width: 350px;
    padding: 20px 40px 30px;
    margin: 0 auto;
    text-align: center;
}

form h1 {
    margin: 0 0 15px 0;
    font-size: 24px;
    text-align: center
}

.form_l {
    float: left;
    background-color: #ffffff80;
}
.form_r {
    font-size: 20px;
    height: 250px;
    margin-left: 470px;
    text-align: justify;

}
.form_r p {
    border-left: 3px solid #007bff80;
    padding: 1% 15px 0;
}

.block1{
    min-height: 300px;
    padding: 100px;
    line-height: 40px;
    background: white;
    margin-bottom: 12px;
    width: 1000px;
    margin: 0 auto;
}

.block23 {
    margin: 20px auto;
    height: 50px;
    width: 1200px;
}

.block2{
    padding: 5px;
    width: 180px;
    background: white;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    cursor: pointer;
}

.block3{
    padding: 5px 20px;
    vertical-align: middle;
    float: right;
    background: white;
    cursor: pointer;
}

.block4{
    min-height: 420px;
    padding: 100px;
    line-height: 40px;
    text-align: justify;
    background: white;
    margin-bottom: 12px;
    text-indent: 30px;
}

.block4 h1 {

    color: black;
    text-align: left;
    width: 400px;
    text-indent: 0px;
}

.block5{
    padding: 5px 20px;
    vertical-align: middle;
    float: right;
    background: white;
    margin-right: 5px;
    cursor: pointer;
    
}

.itog {
    text-align: center; 
    width: 87px;
    padding: 5px 20px;
    vertical-align: middle;
    float: right;
    background: white;
}

.pnrm{
    width: 70%;
    height: 200px;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}

.btn-none{
    display:none;
}

.people{
    background: url(../img/prgrm.jpg) no-repeat center 5%;
}
.questions{
    display: flex;
    flex-direction: row;
}
.blocks{
    min-height: 5px;
    padding: 10px;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
}
.no{
    font-size: 14px;
    color:red;
}

.ready{
    background-color: lawngreen;
}
.M{
    padding: 10px;
    width: 30px;
    margin-bottom: 6px;
    height: 30px;
    margin-top: 25px;
}
.project{
    width: 700px;
    margin: 0 auto;
}
@media (max-width: 1200px){
    .block1{
        width: 800px;
    }
}
@media (max-width: 900px){
    .block1{
        width: 800px;
        margin-left: 100px;
    }
    .header img{
        margin: 0 auto;
    }
    .header{
        max-width: 1100px;
    }
    .footer{
        max-width: 1100px;
    }
    .block23{
        width: 1000px;
        margin-left: 100px;
    }
}
@media (max-width: 768px){
    .hr1{
        width: 100%;
    }
    .block1{
    }
    .project{
        width: 400px;
    }
}
@media (max-width: 470px){
    .block1{
        width: 700px;
    }
    .block23{
        width: 900px;
    }
    
}

@keyframes passwor{
    0%{
        color: black;
    }
    50%{
        color: rgb(75, 4, 4);
    }
    70%{
        color: rgb(165, 12, 12);
    }
    100%{
        color: red;
    }
}
.forget-pass:hover{
    color: red;
    animation: passwor 0.3s ease;
}